body {
	padding: 10vh;
	box-sizing: border-box;
	font-family: 'OCR_OneCTT', arial;
	color: grey;
	font-size: 1.9vmax;
	letter-spacing: .01em;
	line-height: 1.2;
}

h1,h2{
	text-align: center;
}


.js-app, .js-score .js-main {
	opacity: 1;
	transition: opacity 0.3s;
}

.js-sign--hidden, .js-app--hidden, .js-reg--hidden .js-score--hidden .js-main--hidden {
	opacity: 0;
	pointer-events: none;
}

.js-play {
	text-align: center;
}

.js-group{
	opacity: 0.7;
	background: #D3D3D3;
	border-radius: 1em;
	position:relative;
	height: 20em;
	width: 44em;
}

.js-reg {
	position:absolute;
	top:0;
	left:23em;
	transition: opacity 0.3s;
}

.js-sign {
	position:absolute;
	top:0;
	left:1em;
	transition: opacity 0.3s;
}


