body {
	background-color: #f0c987;

	h1 {
		text-align: center;
		color: #3c153b !important;
	}

	h2 {
		text-align: center;
		color: #8b1e3f !important;
	}

	h3 {
		color: #3c153b !important;
	}

	.js-group {
		width: 100%;
	}

	@keyframes fadeInDown {
		from {
			opacity: 0;
			transform: translate3d(0, -100%, 0);
		}

		to {
			opacity: 1;
			transform: none;
		}
	}

	@keyframes fadeOutDown {
		from {
			opacity: 1;
		}

		99% {
			opacity: 0;
			transform: translate3d(0, 100%, 0);
		}

		to {
			opacity: 0;
			pointer-events: none;
		}
	}

	.js-app, .js-score, .js-main, .js-play, .js-group {
		animation-duration: 0.5s;
		animation-fill-mode: both;
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 10vh;
	}

	#preload {
		display: block;
		position: absolute;
		z-index: 99999;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #89bd9e url(http://hello-site.ru//main/images/preloads/circles.svg) center center no-repeat;
		background-size: 143px;
	}

}