body {
	padding: 10vh;
	box-sizing: border-box;
	font-family: 'OCR_OneCTT', arial;
	color: grey;
	font-size: 1.9vmax;
	letter-spacing: .01em;
	line-height: 1.2;
}

a {
	padding: 0 30px 0;
	background-color: #FFD700;
	border: .1rem solid grey;
	border-radius: .4rem;
	color: grey;
	cursor: pointer;
	height: 30px;
	text-align: center;
	margin-right:40px;
	outline: none;
	margin-bottom: 3vh;
	min-width: 40px;
	text-decoration: none;
}


.js-sign, .js-app, .js-reg .js-scoreboard{
	opacity: 1;
	transition: opacity 0.3s;
}

.js-sign--hidden, .js-app--hidden, .js-reg--hidden {
	opacity: 0;
	pointer-events: none;
}



