body {
	padding: 10vh;
	box-sizing: border-box;
	color: grey;
	font-size: 1.9vmax;
	letter-spacing: .01em;
	line-height: 1.2;
	font-family: 'OCR_OneCTT', arial;
}

.js-sign, .js-app, .js-reg {
	opacity: 1;
	transition: opacity 0.3s;
}

.js-sign--hidden, .js-app--hidden, .js-reg--hidden {
	opacity: 0;
	pointer-events: none;
}



