.js-score {


	text-align: center !important;
	.pagination {

		min-width: 40px;
		min-height: 40px;
		max-width: 120px;
		max-height: 50px;
		display: inline-block;
		padding: 10px;
	}
	.record__login, .record__score{
		font-size: 20px;
	}
	.scoreboard_background{
		background-color: #f8e39a;
	}
}

