.js-score .scoreboard__title {
	display: block;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 2vh;
	color: #ffbf00;
	text-shadow: #fff -1px -1px 0,
	grey 1px 1px 0;

}

.js-score .scoreboard__table .record__username:nth-child(1){

	font-size: 1.5em;
	text-align: center;
	width: 50%;
	color:gold;
	text-shadow: #000000 1px 1px 0;

}

.js-score .scoreboard__table .record__score:nth-child(2){

	font-size: 1.5em;
	text-align: center;
	width: 50%;
	color:gold;
	text-shadow: #000000 1px 1px 0;


}

.js-score .record__username {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.js-score .record__score {
	display: inline-block;
	width: 50%;
	text-align: center;
}
