a {
	text-decoration: none;
	background-color: #FFD700;
	border: .1rem solid grey;
	border-radius: .4rem;
	color: grey;
	height: 7vh;
	text-align: center;
	outline: none;
	cursor: pointer;
	width: 20vw;
	font-family: 'Comic Sans MS', cursive;
	display: block;
	margin: 1vw auto auto;
	padding-top: 2vh;
}
