.input {
	border: .1rem solid grey;
	border-radius: .4rem;
	height: 2.2em;
	padding: 0.6rem 1rem;
	width: 35vw;
	margin-bottom: 7px;
	margin-right:20px;
	font-family: 'OCR_OneCTT', arial;
}


.input:focus {
	outline: none;
	border: .17rem solid gold;
	border-radius: .4rem;
}