.js-sign {
	animation-duration: 0.5s;
	animation-fill-mode: both;
//	padding-top: 10vh;
	display: inline-block;


	.error {
		margin-bottom: 10px;
	}

	.button {
		display: inline;
		margin-right: 3vmin;
		margin-top: auto;
	}

	h3 {
		text-align: center;
	}
}
