.button, .button:focus {
	text-decoration: none;
	background: #89bd9e;
	padding: 5% 7%;
	display: block;
	margin: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 900;
	font-size: 120%;
	position: relative;
	transition: all 0.3s;
	border: 3px solid #89bd9e;
	color: #3c153b;
	text-align: center;
	min-width: 170px;
	min-height: 35px;
	outline: none;
	cursor: pointer;

	&:hover, &:active {
		color: #db4c40;
		text-decoration: none;
		outline: none;
	}

}