.button {
	padding: 0 15px 0;
	background-color: #FFD700;
	border: .1rem solid grey;
	border-radius: .4rem;
	color: grey;
	cursor: pointer;
	height: 30px;
	text-align: center;
	margin-right:40px;
	font-family: 'OCR_OneCTT', arial;
	outline: none;
	margin-bottom: 3vh;
	min-width: 40px;
}
